/*****************È«¾ÖÉèÖÃ*****************/
body{
	margin:0px;
	display: block;
	height: 1300px;
	width: 1366px;
	font-family: "微软雅黑",Georgia,Serif;
	/*font-size: 14px;*/
	font-weight: 100;
	-webkit-background-size: 1366px 424px;
  	background-color: #f2f2f2;
  	font-weight: normal;
}

ul li{
	list-style-type: none;
}

*:focus{
	outline: none;
}
/*****************topbar*****************/
.topbar_1{
	background:#000; 
	width:1366px; 
	height:30px
}

.topbar_2{
	background-color: #4f4f4f; 
	width:1366px; 
	height:55px
}
.logo {
	display:inline-block;
	float: left;
	margin-left: 140px;
	height: 55px;
	width: 143px;
	background: url(../i/images/LOGO.png) no-repeat left center;
	-webkit-background-size: 143px 55px;
	background-size: 143px 55px;
}
.company_logo_statement {
	width:200px;
	height:80px;
	margin-left: 135px;
	margin-top: 35px;
	font-size: 14px;
	color:#f2f2f2;
	overflow:hidden;
	display:inline-block;
}

.topbar_2_nav{
	overflow: hidden;
	float: left;
	border: 0px red solid;
	margin:0px;
	padding:0px;
	width: 660px;	
	font-size: 1.1em;
	margin-left: 80px;
}

.topbar_2_nav li{
	border: 0px red solid;
	float: left;
	width: 100px;
	height: 55px;
	padding-top: 10px;
	margin-left: 30px;
	text-align: center;
}
.topbar_2_first {
	margin-right: -22px;
}
.topbar_2_last {
	margin-left: -22px;
}

.topbar_2_nav li a{
	font-size: 1.3em;
	color:#f5f0f0;
}

.topbar_2_nav li:hover{
	background-color:#414141;	
}

.li_line{
	padding-left: 15px;
	border-left: 2px #fff solid;
}


/*****************content*****************/

/*********top-news*********/
.content {
	margin:0 auto;
	height: 1212px;
	width:1024px;
}
.top-news {
	min-width: 1024px;
	margin-top: 40px;
	border: 0px solid #000;
	background: #fff;
}
.top_news_success, .top_news_warning, .top_news_danger, .top_news_secondary {
	width: 60px;
	height: 60px;
	border: 1px solid #f5f5f5;
	margin-left: 90px;
	margin-top: -10px;
	background-color: #f5f5f5;
	-moz-border-radius: 32px; 
	-webkit-border-radius: 32px; 
	border-radius: 50px;
}
.top_news_success_amount, .top_news_warning_amount, .top_news_danger_amount, .top_news_secondary_amount {
	font-size: 20px;
	line-height: 60px;
}
.top-news-type {
	height: 125px;
}
.middle_search {
	height:154px;
	/*border: 1px solid #cccc00;*/
	background: -o-linear-gradient(top, #fff, #f2f2f2);
	background: -webkit-linear-gradient(top, #fff, #f2f2f2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff)); 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f2f2f2), to(#fff));
	background:-moz-linear-gradient(top,#fff,#f2f2f2);
	background: -ms-linear-gradient(top, #fff,  #f2f2f2);
}
.enterprise_logo {
	width: 151px;
	height: 151px;
	border: 1px solid #c9c9c9;
	float: left;
}
.enterprise_logo img {
	width: 149px;
	height: 149px;
	border-image-repeat: no-repeat;
	align-self: center;
}
.enterprise_search {
	width: 859px;
	height: 149px;
	/*border: 1px solid #000066;*/
	margin-left: 10px;
	float: left;
}
.enterprise_search_box {
	width: 858px;
	height: 60px;
	/*border: 1px solid #FF4500;*/
}
.selectoption {
	width:110px;
	/*border: 1px solid #000;*/
	margin-left: 80px;
	margin-top: 15px;

}
.choose_label {
	width:168px;
	height: 40px;
	/*align-self: center;*/
}
.search_text_div {
	width:520px;
	/*border: 1px solid #000;*/
	margin-top: 8px;
}
.search_text {
	width:512px;
	height:40px;
}
.search_talents_div {
	width:145px;
	/*border: 1px solid #000;*/
	margin-top: 5px;
}
.searchbutton {
	width: 140px;
	height: 42px;
	background-color: #84B556;
	color:#fff;
}
.selectoption, .search_text_div, .search_talents_div {
	float: left;
}
.enterprise_match {
	margin-top: 1px;
	height:70px;
}
.enterprise_match_remark {
	width: 95px;
	font-size: 14px;
	line-height: 16px;
	margin-top: 20px;
}
.enterprise_choose_score, .resume_score{
	width: 64px;
	height: 64px;
	margin-left: 15px; 
	margin-top: 1px;
	background: #fff; 
	-moz-border-radius: 32px; 
	-webkit-border-radius: 32px; 
	border-radius: 50px; 
}
.enterprise_match_text {
	margin-left: 16px;
}
.enterprise_match_btn {
	margin-left: 7px;
}
.enterprise_match_text, .enterprise_match_btn {
	margin-top: 6px;
}
.enterprise_match_remark, .enterprise_choose_score, .enterprise_match_text, .enterprise_match_btn {
	float: left;
}
/*********main*********/
.main {
	height: 710px;
	/*border: 1px solid #000;*/
} 
.main_remark {
	height:25px;
}
.main_remark_font {
	font-size: 14px;
}
.main_remark_database {
	color: red;
}
/*********resume-div*********/
.main_resume {
	height:87px;
	/*background-color: #fff;*/
	/*border: 1px solid #000;*/
}
.resume_details {
	height:84px;
	width: 780px;
	/*border: 1px solid #000;*/
	background-color: #fff;
	float: left;
}
.resume_details_table {
	height:82px;
	width: 780px;
	color:#333;
}
.salary_expectation {
	color: red;
}
.am-text-middle {
	width:90px;
	height: 80px;
	background: url(../i/enterprise-version/head-portait.png) no-repeat left center;
	background-size:cover;
}
.resume_score {
	width: 75px;
	height: 75px;
	border: 0px solid #000;
	background-color: #ffc;
	float: left;
}
.resume_score strong {
	font-size: 18px;
	color: #333;
	line-height: 75px;
}
.resume_collect {
	width: 100px;
	height: 75px;
	/*border: 1px solid #000;*/
	float: left;
	background: url(../i/enterprise-version/star_five.png) no-repeat left center;
	margin-left: 30px;
}
.clickcollect {
	width: 75px;
	height: 20px;
	margin-top: 50px;
	font-size: 14px;
}
.resume_division_line {
	width: 1024px;
	margin-top: 3px;
	margin-bottom: 3px;
	border: 0px solid #dbdbdb;
}
/*********分页-div*********/
.main_resume_paging {

}

/******friendlink******/
.friendlink {
	height: 90px;
	/*border: 1px solid #000;*/
	margin-top: 25px;
}
.friendlink span {
	font-weight: bolder;
	font-size: 15px;
}
.friendlink_details {
	margin:0 auto;
	margin-top: 5px;
}
.friendlink_details a {
	color:#333;
	font-size: 13px;
}

/*****************footer*****************/
.footer {
	height:126px;
	background-color: #6e6e6e;
}
.footer_about_jiaopu {
	margin-top: 10px;
}
.footer_about_jiaopu, .footer_about_copyright1, .footer_about_copyright2 {
	margin-left: auto;
	margin-right: auto;
	height:40px;
	width:900px;
	vertical-align:middle;
	line-height:40px;
}
.footer_about_retails li a {
	margin-left: 60px;
	color:#333;
}
.footer_about_copyright1 {
	width:650px;
	height:35px;
	line-height: 50px;
}
.footer_about_copyright2 {
	margin-top: 0;
	width: 410px;
	height: 35px;
}