/*****************»´æ÷…Ë÷√*****************/
body{
	margin:0px;
	display: block;
	height: 424px;
	width: 1366px;
	background: url(../i/images/index_bg.png) no-repeat;
	-webkit-background-size: 1366px 424px;
  	background-size: 1366px 424px;
}

ul li{
	list-style-type: none;
}

*:focus{
	outline: none;
}
/*****************topbar*****************/
.topbar_1{
	background:#000; 
	width:1366px; 
	height:30px
}

.topbar_2{
	background: url(../i/images/topbar_bg.png) no-repeat; 
	width:1366px; 
	height:55px
}

.logo {
	display: block;
	float: left;
	margin-left: 140px;
	height: 55px;
	width: 143px;
	background: url(../i/images/LOGO.png) no-repeat left center;
	-webkit-background-size: 143px 55px;
	background-size: 143px 55px;
}

.topbar_2_nav{
	overflow: hidden;
	float: left;
	border: 0px red solid;
	margin:0px;
	padding:0px;
	width: 660px;
}

.topbar_2_nav li{
	border: 0px red solid;
	float: left;
	width: 100px;
	height: 55px;
	padding-top: 10px;
	text-align: center;
}

.topbar_2_nav li a{
	font-size: 1.3em;
	color: #fff;
}

.topbar_2_nav li:hover{
	background-color:#4e4e4e;	
}

.topbar_2_btn{
	border: 0px red solid;
	padding-left: 0px;
	margin-top:13px;
	overflow: hidden;
	float: right;
	margin-right: 140px;
}

.topbar_2_btn li{

	float: left;
	width: 130px;
	text-align: center;
}

.li_line{
	padding-left: 15px;
	border-left: 2px #fff solid;
}

.topbar_2_btn_self{
	border:none;
	background-color: rgba(0,0,0,0);
	color: #fff;
	font-size: 1em;
	height:28px;
}

.topbar_2_btn_self_hover{
	background-color: rgba(0,0,0,0.6);
}

/*****************banner*****************/
.banner{
	margin:100px 400px;
	width: 600px;
	height: 200px;
}

.top_font{
	margin-left: 80px;
	font-size: 42px;
	color:#fff;
}

.banner_bottom{
	float: left;
	width: 535px;
	height: 130px;
	background: url(../i/images/banner_bg.png) no-repeat;
}

.index_choose_type ul{
	border: 0px red solid;
	list-style-type:none;
	width: 500px;
	overflow: hidden;
	padding-left: 70px;
}

.index_choose_type ul li{
	text-align:center;
	width: 100px;
	float: left;
}

.index_choose_type ul li a{
	font-size: 20px;
	color: #fff;
}

.index_choose_type ul li a:hover{
	text-decoration: underline;
}

.index_choose_type_border{
	border-right: 2px #fff solid;
	width: 90px;
	float: left;
	text-align:center;
} 

.index_choose{
	border: 0px red solid;
}

.search_input{
	border:2px #82B435 solid;
	margin-left: 65px;
	width: 320px;
	height: 38px;
}

.search_btn{
	border:1px #82B435 solid;
	background-color: #82B435;
	color: #fff;
	font-size: 1.2em;
	width: 80px;
	height: 38px;
	margin-left: 10px;
}
