.header-1{
	width: 100%;
	height: 30px;
	background-color: #000000;
}
.header-2{
	border: 0px solid red;
	width: 100%;
	height: 75px;
	background-color: #4e4e4e;
}
.banner{
	width: 100%;
	height: 426px;
	border: 1px solid red;
}
.main{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
}
.content-main{
	width: 1024px;
	margin: auto;
	border: 1px solid red;
	height: 800px;
}
.footer{
	width: 100%;
	overflow: hidden;
	background-color: #4e4e4e;
}
.content-footer{
	width: 960px;
	height: 100px;
	background-color: #ffffff;
	margin:auto;
}