<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiaopuwang.jiaopu.mapper.EnterpriseMapper" >
	
  	<!-- 企业列表查询 -->
  	<!-- parameterType传入包装对象(包装了查询条件)resultType建议使用扩展对象 -->
  	<select id="findEnterprises" resultType="cn.jiaopuwang.jiaopu.po.Enterprise">
  		SELECT * FROM Enterprise  
  	</select>
  
</mapper>